/* General
   ========================================================================== */

body {
	font-family: 'Open Sans', sans-serif;
}

.hp_wrapper {
	margin-top: 50px;
}

.wrapper {
	padding-top: 0;
	padding-bottom: 100px;
	background: #eee;
}

#content {
	padding: 50px;
    background: #fff;
}

a {
	text-decoration: none !important;
}

h1, h2, h3, h4, h5 {
	color: 	$brand-primary;
	font-family: 'Cabin', sans-serif;
}

/* Header
   ========================================================================== */
.navbar .container {
	width: 100%;
	justify-content: center;
}

@media (max-width: 991px) {

	.bg-inverse {
		text-align: center;
		background-image: none !important;
		background-color: #dedede !important;
	}

	.headerCTA {
		display: block;
		margin: 10px auto !important;
		max-width: 300px;
	}

}

@media (min-width: 992px) {
		#main-menu {
	margin-left: 0;
}
}

.navbar-inverse .navbar-nav .nav-link, .navbar-inverse .navbar-nav .nav-link:focus, .navbar-inverse .navbar-nav .nav-link:hover{
	color: $brand-primary;
}

.navbar-brand img {
	width: 200px;
}

.navbar-inverse .navbar-toggler {
    background: #3c83bb;
}

.bg-inverse .dropdown-menu {
	background-color: #fff;
}

#socialLinks {
	font-size: 5vh;
	}

@media (max-width: 991px) {
.bg-inverse .dropdown-menu {
	width: 100%;
    float: left;
    text-align: center;
    border-color: #ff7d14;
}
    }

.navbar-inverse .navbar-nav .nav-link:hover, .navbar-inverse .navbar-nav .active>.nav-link, .navbar-inverse .navbar-nav .nav-link.active, .navbar-inverse .navbar-nav .nav-link.open, .navbar-inverse .navbar-nav .open>.nav-link {
	color: $brand-primary;
}

.bg-inverse {
	background-image: url('http://www.dev.designs4theweb.com/sps/img/header_bg.jpg');
	background-size: cover;
	background-color: transparent;
	//border-bottom: solid 5px $brand-primary;
	@include shadow;
}

.navbar-inverse .navbar-nav .nav-link {
	color: #000;
}

.dropdown-menu {
	a {
		&:hover {
			background: #fff !important;
		}
	}
}

@media (min-width: 992px) {

.dropdown-menu:before {
		width: 0;
	    height: 0;
	    border-left: 25px solid transparent;
	    border-right: 25px solid transparent;
	    border-bottom: 25px solid #fff;
	    content: '';
	    position: absolute;
	    top: -10px;
	    left: 0;
	}

.navbar-toggleable-md .navbar-collapse {
		width: auto;
		margin-right: 35px;
	}

	#socialLinks {
		margin-right: 35px;
	}
}

.headerCTA {
	background: $brand-secondary;
	@include shadow;
	border: 0;
	padding: 15px;
}

/* Pages
   ========================================================================== */

.page_cta {
	border: solid 5px $brand-primary;
	font-family: 'Open Sans Condensed', sans-serif;
    padding: 35px 25px;
    text-align: center;
    background-color: #fff;
    h1 {
    	margin-bottom: 2.5rem;
    }
}

.entry-title {
	text-align: center;
    font-weight: bold;
    font-size: 5vh;
    color: #fff;
    background: $brand-primary;
    text-transform: uppercase;
    margin-bottom: 0;
    padding: 50px 0;
}

/* Homepage
   ========================================================================== */

.home #content {
	padding-top: 0;
}

@media (min-width: 992px) {

.slider_wrapper {
	height: 450px;
    margin-left: -50px;
    margin-right: -50px;
    margin-bottom: 50px;

    img {
    	height: 450px;
	    }
	}
}

    .slide_content {
    	padding: 50px !important;
    	color: #fff;
    	background: $brand-primary;

    	h3 {
    		color: #fff;
    		font-weight: bold;
    	}

	    	a {
	    		color: #fff;
			    border: solid 2px #fff;
			    padding: 15px;
			    display: block;
			    text-align: center;
			    margin-top: 25px;
			    transition: all 1s;
    			@include border-radius(5px);

			    &:hover {
			    	background:#fff;
			    	color: $brand-primary;
			    }
	    	}
    }

.sectionWrap {
	    margin-top: 25px;

	.hp_section {
		padding: 25px;
		height: 100%;
	    border: 2px solid #ddd;
	    margin-top: 25px;

	    h3 {
	    	text-align: center;
	    	margin-bottom: 15px;
	    }

	    a {
	    	display: block;
		    border: solid $brand-primary;
		    @include border-radius(5px);
		    text-align: center;
		    padding: 10px;
		    color: $brand-secondary;
		    transition: all 1s;
		    text-transform: uppercase;
		    font-weight: bold;
		    &:hover {
		    	background: $brand-secondary;
		    	color: #fff;
		    }
	    }
	}
}


.hp_carousel {
	display: flex;
    height: 150px;
    align-items: center;	
}

.cta {
    padding: 50px 25px 50px 50px;
        background: $brand-secondary;
    background: -webkit-linear-gradient(left, #ff7900 , #feae65);
    background: -o-linear-gradient(right, #ff7900, #feae65);
    background: -moz-linear-gradient(right, #ff7900, #feae65);
    background: linear-gradient(to right, #ff7900 , #feae65);
    color: #fff;
    margin: 50px -65px;

    h3 {
    	color: #fff;
    	font-weight: bold;
    }
}

.cta_link {
	display: flex;
    align-items: center;
    justify-content: center;

    a {
    	padding: 15px 25px;
	    background: #3c83bb;
	    @include border-radius(5px);
	    color: #fff;
	    text-transform: uppercase;
	    @include shadow;
    }
}


.hp_testimonial {
	background: $brand-primary;
	padding: 50px;
	color: #fff;
	@include border-radius(5px);

	.testimonialText {
		margin-left: 25px;
		font-size: 4vh;
		font-family: 'Open Sans Condensed', sans-serif;
		&:before {
			content: '';
			width: 50px;
			height:50px;
			background-image: url('/http://www.dev.designs4theweb.com/sps/img/quote_bg.png');
			background-size: contain;
			background-repeat: no-repeat;
			opacity: .2;
			position: absolute;
			top: 35px;
			left: 35px;
		}
	}

	.testimonialAuthor {
		font-style: italic;
		text-align: right;
	}
}

/* Testimonials
   ========================================================================== */

.page_testimonials {
	display: flex;
	flex-wrap: wrap;

		.testimonial_outer_wrapper {
		display: flex;
		flex-wrap: wrap;
		margin-top: 25px;
		}

			.testimonial_wrapper {
				border: 1px solid #ff7d14;
			    padding: 25px;
			    padding-top: 50px;
			    margin-bottom: 50px;
			    position: relative;
			    border-radius: 10px;

				&:before {
				    content: "";
				    background-color: #fff;
				    background-image: url('http://www.dev.designs4theweb.com/sps/img/orange_quote_bg.png');
				    background-size: contain;
					background-repeat: no-repeat;
					background-size: 25px;
					background-position: center;
				    height: 50px;
				    width: 50px;
				    position: absolute;
				    top: -25px;
				    left: 50%;
				    margin-left: -25px;
				    border-radius: 25px;
				    border: solid 3px #3c83bb;
				    outline: solid 10px #fff;
				}

				.testimonialAuthor {
					text-align: right;
				    color: #3c83bb;
				    font-weight: bold;
				}
			}
}

/* Gallery
   ========================================================================== */

.gallery_images {
   		margin-top: 50px;

		.gallery_thumb {
			margin-bottom: 50px;

		a {
		display: inline-block;
	    display: block;
	    padding: 4px;
	    border: 1px solid $brand-primary;
	    @include border-radius(4px);
	    @include transition(border-color 1s);
			
			&:hover {
			    	border-color: $brand-secondary;
			}
	}
}
   }

/* Blog
   ========================================================================== */

   #blog-sidebar {
	
	.assistive-text {
		display: none;
	}

	.widget_categories ul {
		padding-left: 0;

		li {
		padding-left: 25px;
		text-transform: uppercase;
		list-style: none;
		margin-bottom: 5px;

		a {
		background: #3c83bb;
	    color: #fff;
	    padding: 5px 10px;
	    @include border-radius(5px);
	    display: inline-block;
	    margin-bottom: 5px;
	}

	}
}

		.widget_recent_entries ul {
			padding-left: 0;

			li {
			padding-left: 25px;
    		list-style: none;
    		margin-bottom: 10px;
		}
	}

	.widget {
		margin-bottom: 50px;

		.widget-title {
			background: #ff7900;
		    color: #fff;
		    padding: 5px 10px;
		    margin-bottom: 25px;
		}
	}
   }

   #blogPagination {
   	margin: 0 auto;
   	margin-top: 50px;
   }

/* Forms
   ========================================================================== */

.nf-form-content {
	margin: 0 !important;
}

.nf-form-content input[type="submit"], .nf-form-content input[type="button"], .nf-form-content button {
	background: $brand-primary !important;
	color: #fff !important;
	}

.nf-form-content input[type="submit"]:hover, .nf-form-content input[type="button"]:hover, .nf-form-content button:hover {
	opacity: .9;
	color: #fff !important;
}

.btn-secondary {
	background-color: $brand-secondary;
	border: 0;
	color: #fff;

	&:hover {
		background-color: $brand-primary;
		color: #fff;
	}
}




/* Sidebars
   ========================================================================== */
.contact_sidebar {

	.textwidget:first-child {
	background: #eeeeee;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
	}

	button {
		margin-top: 25px;
	}

	#sidebar_logo {
	width: 150px;
	}

	#sbContactInfo {
	margin-top: 15px;
	}

	.fa {
		margin-right: 10px;
		color: $brand-secondary;
	}

	.widget:not(:first-child) {
    margin-top: 35px;
	}
	
}

/* Footer
   ========================================================================== */

#wrapper-footer {
	background-color: $brand-primary;
	color: #fff;
	padding: 50px 0;
	a {
		color: #fff;
	}
	p {
		font-size: 12px;
		margin-bottom: .5rem;
	}
}

#footerLogo {
	height: 100px;
}

.tagline {
	text-transform: uppercase;
}

#filters {
	padding:0;
	list-style:none;
}

	#filters li {
		float:left;
	}
	
	#filters li span {
		display: block;
		padding:5px 20px;		
		text-decoration:none;
		background: $brand-primary;
		color:#fff;
		cursor: pointer;
		margin-right: 10px;
		margin-bottom: 15px;
	}
	
	#filters li span.active {
		background: $brand-secondary;
		color:#fff;
	}
 

 
#portfoliolist .portfolio {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	margin:1%;
	display:none;
	float:left;
	overflow:hidden;
}

	.portfolio-wrapper {
		overflow:hidden;
		position: relative !important;
		background: #666;
		cursor:pointer;
		padding: 0;
	}

	.portfolio img {
		max-width:100%;
		position: relative;
		top:0;	
	}